/*
** This is the best grid
** If I can say so myself
** But I am biased
*/

$row_pad: $row_pad_v $row_pad_h;
$col_pad: $col_pad_v $col_pad_h;

.row {
	display: block;
	@if variable-exists(max_width) { max-width: $max_width; }
	margin-left: auto;
	margin-right: auto;
	@if variable-exists(row_pad) { padding: $row_pad; }

	&:not(.table) {@extend %clearfix;}
	.row {max-width: none;}
	&.nopad {padding: 0;}
}
.column {
	display: block;
	float: left;
	position: relative;
	@if variable-exists(col_pad) { padding: $col_pad; }

	&:last-child:not([class*='pull'], :first-child) {float: right;}
	&.nopad {padding: 0;}
}

/*
** "Just put it in a table"
*/
.row.table {
  display: table;
  table-layout: fixed;

	&.va-t .column {vertical-align: top;}
	&.va-b .column {vertical-align: bottom;}
	> .column {
		@extend %tcell;

		&, &:last-child {float: none;}
	}
}

/*
** Responsive
*/
// Get index of media query chosen to start stacking
$stack_columns_index: index_from_key($break_points, $bp_stack_columns);

@each $mq in $media_queries {
@media (nth($mq, 2)) {

	// For the stacked media query and smaller
	@if index($media_queries, $mq) == 1 {

		// Unset grid
	  .column {
	  	width: 100%;

	  	&, &:last-child:not([class*='pull'], :first-child) {float: none;}
	  }

		// Push and pull
		[class*='push'], [class*='pull'] {left: auto; right: auto;}

		// CSS Tables
		.row.table:not(.nostack) {
			&, > .column {display: block;}
		}
	}

	// For each media query
	@for $x from 1 through $grid_column_count {
		// Set grid
		.#{ nth($mq, 1) }-#{ $x } {
			width: $x / $grid_column_count * 100%;
			float: left;

			&:last-child:not([class*='pull'], :first-child) {float: right;}
		}

		// Multiple rows of .columns in one .row
		$rounded_number: round( $grid_column_count / $x );
		.multi-row .#{ nth($mq, 1) }-#{ $x }:nth-child(#{ $rounded_number }n+1) {
			clear: both;
		}

		// Push and pull
		.#{ nth($mq, 1) }-push-#{$x} {
			left: $x / $grid_column_count * 100%;
			right: auto;
		}
		.#{ nth($mq, 1) }-pull-#{$x} {
			left: auto;
			right: $x / $grid_column_count * 100%;
		}
	}

	// Full width shouldn't be pushed or pulled
	.#{ nth($mq, 1) }-#{ $grid_column_count } {left: auto; right: auto;}

}
}

@media print {

	.column {
		width: 100%;
		float: none;
	}

}
