
header.masthead {

}
.logo {
	font-size: 1em;

	a {
		display: block;
		width: 100%;
		height: 100%;
		background-image: url(../img/logo.svg);
		background-size: contain;
		background-position: 50%;
		text-indent: -9999em;
	}
}
nav.main {

	a {

	}
}
